<div class="container">
    <h1>The VideoGames List</h1>
    <hr>
    <button class="add-btn" routerLink="add-game">Add Game</button>
    <br><br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Developer</th>
          <th>Date</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of videoGames">
          <td>{{ game.id }}</td>
          <td><img src={{game.imageUrl}} alt="image" width="100px" height="100px"/></td>
          <td>{{ game.name }}</td>
          <td>{{ game.developer }}</td>
          <td>{{ game.date }}</td>
          <td>{{ game.price | currency:'USD':'symbol' }}</td>
          <td>
            <button class="details-btn" (click)="showDetails(game.id)">Details</button>
            <button class="edit-btn" (click)="editGame(game)">Edit</button>
            <button class="delete-btn" (click)="deleteGame(game.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
